form 
    display: flex
    flex-direction: column
    justify-content: center
    width: 700px
    padding: 1em
    position: absolute
    top: 27%
    left: 50%
    transform: translateY(-50%) translateX(-50%)
    font-family: sans-serif  

h1
    margin: 0 auto
    padding: 1em  
    text-align: center
    font-family: sans-serif        

#button
    background: white    
    line-height: 35px
    width: 100px
    position: absolute
    top: 105%
    left: 50%
    transform: translateY(-50%) translateX(-50%)
  
    
    
 

    
    
    
    

       



    

    