@use '../abstracts/variables'

.card
    align-items: center
    background-color: variables.$white-color
    display: flex
    justify-content: space-between
    padding: .5rem 1rem
    max-width: 600px
    max-height: 150px
    left: 30%
    position: Sticky
    border-width: 0.1px
    border-style: solid
    border-color: black
    border-radius: 5px
    

.icon:hover
    transform: scale(1.5)
    transition-duration: 0.5s
    cursor: pointer
    background-color: white
    color: #f00000

